body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

section#main-section-title {
    height: 800px;
    z-index: 1;
}

header#main-title {}

header#main-title {
    display: block;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    margin: 0px auto;
    margin-top: 300px;
    text-align: center;
}

header#main-title h1 {
    margin: 0px;
    font-size: 6.5em;
}

header#main-title h3 {
    margin: 0px;
    font-size: 1em;
    color: #cbcbcb;
    font-weight: lighter;
}

header#main-title h4 {
    margin: 0px;
    color: #b1b1b1;
    font-size: 0.8em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #cdcdcd;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

section#main-section-title nav {
    margin: 0px auto;
    padding-top: 20px;
    color: #eeeeee;
    font-style: 'ProximaNova-Bold', sans-serif;
    display: block;
    width: 900px;
    padding-left: 50px;
    /*border: 1px solid red;*/
}

section#main-section-title nav ul {
    padding: 10px 0px;
    margin: 0px;
}

section#main-section-title nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 144, 144, 0);
}

section#main-section-title nav ul li:hover {
    border-bottom-color: #d7d7d7;
}

section#content {
    background-color: #fff;
    width: 100%;
    padding: 20px 0px 50px 0px;
}

article.main-section {
    /*background-color: #fff;*/
    width: 900px;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    /*height: 800px;*/
    /*border: 1px solid red;*/
    box-shadow: 0px 1px 5px 1px #b8b8b8;
    /*background-color: #fff;*/
}

article.main-section h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

article.main-section p {
    margin-left: 30px;
    text-align: center;
    word-spacing: 0.3em;
}

footer {
    text-align: center;
    background-color: #09080e;
    color: #eee;
    height: 330px;
    width: 100%;
    padding-top: 40px;
}

span.sunderline {
    text-decoration: underline;
    text-decoration-color: #cb1d17;
}

.separate-line {
    margin: 0px 200px;
    margin-bottom: 30px;
    display: block;
    border-bottom: 1px solid #bfbfbf;
}

.title-ligth {
    font-weight: lighter;
}

span.sunderline-short {
    margin: 0px 0px;
    display: inline-block;
    width: 200px;
    position: relative;
    top: -16px;
    border-bottom: 2px solid #cb1d17;
}

#bg {
    position: fixed;
    width: 100%;
    background-image: url("../img/universe-bg.jpg");
    background-size: cover;
    height: 800px;
    z-index: -1;
}

#bg-2 {
    position: fixed;
    width: 100%;
    background-image: url("../img/dots.png");
    background-size: cover;
    height: 800px;
    z-index: -1;
}

.companies-block {
    display: block;
    margin-top: 20px;
}

.companies-block figure {
    display: inline;
}

.companies-block figure img {
    vertical-align: middle;
    width: 250px;
    width: 200px;
}

article.box-no-shadow {
    background-color: #242424;
    width: 100%;
    padding: 20px 0px;
    color: #fff;
    margin-bottom: 0px;
}

article.main-section-box-no-shadow {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
    /*border: 1px solid red;*/
}

#left-block {
    position: relative;
    left: 0px;
    top: 10px;
    display: inline-block;
    /*border: 1px solid red;*/
}

#left-block img {
    width: 670px;
    height: 400px;
}

#right-block {
    display: inline-block;
    vertical-align: top;
    /*border: 1px solid red;*/
    margin-left: 60px;
}

#right-block h1 {
    font-style: oblique;
    font-size: 1em;
    font-weight: lighter;
}

#right-block h2 {
    font-style: oblique;
    /*font-size: 0.8em;*/
    font-weight: lighter;
    color: #fff;
}

#right-block h3 {
  font-size: 0.8em;
  font-weight: lighter;
  color: #ababab;
}

#right-block p {
    color: #cccccc;
}

#right-block span.sunderline-short {
    width: 150px;
    top: -35px;
}

footer section#menus {
    width: 900px;
    margin: 100px auto;
    /*border: 1px solid red;*/
}

nav.menu-box {
    display: inline-block;
    width: 100px;
    border-left: 2px solid #b1b1b1;
    vertical-align: top;
    padding-left: 10px;
    margin-left: 50px;
    /*border: 1px solid red;*/
}

nav.menu-box ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: left;
}

nav.menu-box ul li {
    margin-bottom: 7px;
}

nav.menu-box a:hover {
    text-decoration: underline;
}

table#developers-table {
    text-align: right;
    margin: 0xp auto;
    display: inline-block;
    padding-top: 25px;
    border-collapse: collapse;
}

table#developers-table th {
    color: #e4e4e4;
    background-color: #20202e;
}

table#developers-table td {
    color: #14141a;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #cbcbcb;
}

table#developers-table th, table#developers-table td {
    padding: 5px;
    padding-left: 30px;
}
